<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		dkaasbjas
	</title>
	<div class="right"><%= button_to "Logout", destroy_user_session_path, method: :delete  %></div>

</head>
<body>
	<h1>Welcome to Yogo clculation</h1>
	<span>Find me in app/views/home/index.html.erb</span>
	<button class="btn btn-success">BET ON</button>
</body>
</html>